<section class="relative container-large">
  <div class="relative grid w-full lg:grid-cols-5 lg:overflow-x-clip lg:absolute">
    <div class="relative mt-[-4.2rem] lg:order-last  z-[-1] lg:col-start-3 lg:col-span-3">
      <!-- background desktop -->
      <img class="hidden object-cover max-h-[450px] scale-[200%] origin-left lg:block"
        src="/assets/images/bg-intro-desktop.svg" alt="Background" />
      <!-- end background desktop -->

      <!--    background mobile-->
      <img class="object-cover w-full object-center max-h-[620px] lg:hidden " src="/assets/images/bg-intro-mobile.svg"
        alt="Background" />
      <!--    end background mobile-->

      <!--    phone-->
      <img
        class="background translate-y-[-20%] sm:min-h-[800px] z-20  sm:object-contain lg:translate-y-[-5%] lg:translate-x-[13rem]"
        src="/assets/images/image-mockups.png" alt="Mockups" />
      <!--    end phone-->
    </div>

  </div>

  <div class="container grid lg:grid-cols-2">
    <!-- text -->
    <div class=" max-w-2xl mx-auto text-center sm:mt-20 lg:text-left lg:max-w-[400px] lg:mx-0 lg:mt-32">
      <h1 class="text-4xl md:text-5xl">Next generation digital baking</h1>
      <p class="mt-4 text-base text-muted lg:mt-6">
        Take your financial life only. Your Easybank account will be a
        one-stop-shop for spending, saving, budgeting, investing, and much
        more.
      </p>

      <div class="flex justify-center mt-14 md:mt-10 lg:justify-start">
        <a class="btn btn-primary" href="#">Request Invite</a>
      </div>
    </div>
    <!-- end text -->
  </div>
</section>
