<footer class="py-24 bg-footer lg:py-20">
  <div class="container flex flex-col items-center justify-center gap-8 lg:flex-row lg:justify-between lg:gap-28">

    <div class="flex flex-col items-center gap-6 lg:items-start lg:justify-between lg:gap-12">
      <!--  logo -->
      <lbk-logo logo="light"></lbk-logo>
      <!--  end logo -->

      <!--    socials-->
      <lbk-socials></lbk-socials>
      <!--    end socials-->

    </div>

    <!--    links-->
    <lbk-links-footer class="block grow"></lbk-links-footer>
    <!--    end links-->
    <div class="grid gap-8 justify-items-center lg:place-items-end">
      <!--    request invite-->
      <div>
        <a class="btn btn-primary" routerLink="/">Request Invite</a>
      </div>
      <!--    end request invite-->

      <!--    copyright-->
      <div class="text-center text-muted">
        <p >
          &copy; Easybank. All Rights Reversed
        </p>

        <p class="text-xs">
          Challenge by
          <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. Coded by
          <a class="text-sky-600 decoration-wavy" href="https://github.com/lbk2knewlifegithub">lbk2k</a>.
        </p>
      </div>
      <!--    end copyright-->
    </div>
  </div>
</footer>
